.courier {
  font-family: "Courier New", fixed;
  font-size: 10;
}
.card .numbers {
    font-size: 1.5em;
    text-align: right;
}

.card .stats {
    color: #a9a9a9;
    font-weight: 300;
}

.tshs {
	color: #a9a9a9;
	font-size: 0.8em;
}

.bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    /*stroke: #d70206;*/
    /*fill: #d70206;*/
}
